$border-grey: #ddd;
$background-grey: rgb(231, 231, 231);
$background-grey-light: rgb(221, 221, 221);
$main-color: purple;
$main-color-transparent: rgba($main-color, 0.1);
$reply-color: rgb(40, 196, 76);
$send-color: rgb(66, 133, 244);
$login-color: rgb(26, 115, 232);