.charts {
	flex: 1 1 auto;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
	* {
		margin-top: 20px;
	}
	&__date {
		font-family: 'Arial';
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
		&Block {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
			* {
				margin: 10px 5px;
			}
			.statistics__date {
				border: none;
				padding: 5px;
				border-radius: 5px;
			}
		}	
	}
	.statistics {
		height: 250px;
		width: 500px;
	}
	.bars {
		height: 250px;
		width: 500px;
	}
}