.dropdown {
	display: none;
	position: absolute;
	background-color: #fff;
	border-left: .5px solid #ddd;
	border-right: .5px solid #ddd;
	border-bottom: .5px solid #ddd;
	border-radius: 0px 0px 8px 8px;
	font-family: 'Arial';
	&__item {
		padding: 11px 20px;
		width: calc(100% - 40px);
		color: #000;
		text-decoration: none;
		display: block;
		&:hover {
			background-color: darken(rgb(241, 242, 243), 4%);
		}
		&:nth-child(5){
			border-radius: 0px 0px 8px 8px;
		}
	}
	&__img {
		height: 30px; width: 30px;
		background-position: center;
		background-size: cover;
		border-radius: 50%;
		display: inline-block;
	}
	&__container {
		display: inline-block;
		padding: 0px 6px;
	}
	&__name {
		
	}
	&__description {
		margin-left: 5px;
		color: #777;
		font-size: 12px;
	}
}