.header {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
	background-color: #fff;
	border-bottom: .5px solid #ddd;
	width: calc(100vw);
	position: fixed;
	top: 0;
	padding: 10px;
	@include flex(row);
	z-index: 5;
	&__logo {
		width: calc(14vw);
	}
	&__wrapper {
		width: calc(20vw);
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: center;
	}
	&__buttons {
		width: calc(20vw);
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: center;
	}
	&__myProfile, &__notify, &__logout, &__home {
		cursor: pointer;
		transition: 0.2s;
		margin: 0 6px 0;
		border: none;
		padding: 10px;
		font-size: 25px;
		color: #444;
		background-color: inherit;
	}
}