.mainPosts {
    background-color: #f3f3f3;
	grid-area: mainPosts;
	display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
	overflow-y:scroll;
	height: calc(100vh - 14vw*(44.23/201.6) - 20px);
}
@media screen and (max-width: 1023px) { 
	.mainPosts {
		height: calc(100vh - (100vw - 20px)*(44.23/201.6) - 246.8px);
		display: block;
	}
}