.main {
	padding: 50px;
	width: calc(100vw - 120px);
	text-decoration: none;
	color: #333;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
	&__card {
		display: inline-block;
		width: 180px;
		text-decoration: none;
		border-radius: 15px;
		background-color: #fff;
		border: .5px #ddd solid;
		margin: 20px;
		border-radius: 15px;
	}
	&__profile {
		height: 80px;width: 80px;
		margin-top: -50px;
		position: relative;
		z-index: 1;
		border-radius: 50%;
		border: 7px #fff solid;
		margin-left: calc(50% - 47px);
		background-position: center;
		background-size: cover;
	}
	&__text {
		color: #000;
		text-align: center;
	}
	&__name {
		font-size: 26px;
		padding: 6px 0px 10px;
	}
	&__description {
	   	color: #838383;
	    font-size: 18px;
	    font-weight: 600;
	    text-transform: uppercase;
	    font-family: 'Arial';
	    padding: 0px 0px 20px;
	}
	&__img {
		border-radius: 15px 15px 0px 0px;
		height: 90px; 
		width: 100%;
		background-position: center;
		background-size: cover;
		display: inline-block;
	}
}