.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(20vw);
	border-right: .5px solid #ddd;
	background-color: #fff;
	transition: .3s;
	&__nav {
		border-top: .5px solid #ddd;
		border-bottom: .5px solid #ddd;
		width: 100%;
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: stretch;
	    align-items: center;
	}
	&__control {
		color: #666;
		display: inline;
		border: none;
		padding: 10px 0;
		width: 50%;
		transition: .2s;
		&:hover {
			cursor: pointer;
		}
		&[data-state="selected"] {
			color: #000;
			background-color: #fff;
		}
		&[data-state="deselected"] {
			color: #666;
			background-color: lighten($background-grey, 5%);
		}
		&[data-state="hovered"] {
			color: #333;
			background-color: lighten($background-grey, 10%);
		}
	}
	&__content {
		margin: calc(5vh) 0 calc(3.5vh);
		width: 95%;
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-content: stretch;
	    align-items: flex-start;
	}
	&__link {
		transition: .2s;
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-content: stretch;
	    align-items: center;
		border-radius: 0px 30px 30px 0px;
		text-decoration: none;
		color: #444;
		width: calc(100%);
		font-family: 'Arial';
		font-size: 17px;
		&:hover {
			cursor: pointer;
		}
		i {
			transition: .2s;
			width: 20px;
			padding: 12px 24px;
		}
		&[data-state="selected"] {
			background-color: $main-color-transparent;
			color: $main-color;
		}
		&[data-state="deselected"] {
			background-color: #fff;
			color: #444;
		}
		&[data-state="selectedHover"] {
			background-color: darken($main-color-transparent, 5%);
			color: $main-color;
		}
		&[data-state="deselectedHover"] {
			background-color: #f5f5f5;
			color: #222;
		}
	}
	.people {
		width: calc(20vw);
		overflow-y: auto;
		transition: .2s;
		&__err {
			display: none;
			padding: 5px 10px;
			width: calc(100% - 20px);
			font-family: 'Arial';
			font-size: 18px;
			text-align: center;
			color: #ccc;
			font-weight: 600;
		}
		&__search {
			display: none;
			width: 100%;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: stretch;
		    align-items: center;
			&Bar {
				transition: .2s;
				border: .5px solid #fff;
				background-color: #f5f5f5;
				padding: 10px;
				width: calc(100% - 41px);
				margin: 20px 10px 10px;
				border-radius: 5px;
				&:hover {
					cursor: pointer;
					background-color: $background-grey;
				}
				&:focus {
					background-color: #fff;
					border: .5px solid $background-grey;
				}
			}
		}
		&__container {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: stretch;
		    align-items: stretch;
			text-decoration: none;
			color: #000;
			&:hover {
				background-color: $background-grey;
				cursor: pointer;
			}
		}
		&__pic {
			margin: 10px;
			padding: 10px;
			height: 20px; 
			width: 20px;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
		}
		&__name {
			padding: 5px;
			font-family: 'Arial';
		    display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: stretch;
		    align-items: flex-start;
			width: calc(100% - 80px);
		}
	}
	.filters {
		transition: .2s;
		padding: 10px;	
		background-color: #fff;
		width: calc(100% - 20px);
		font-family: 'Arial';
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: space-between;
	    align-items: center;
	    &__search {
	    	transition: .2s;
	    	margin-top: 10px;
	    	width: calc(100% - 20px);
		    padding: 10px;
		    border-radius: 5px;
			border: .5px solid #fff;
		    background-color: #f5f5f5;
			&:hover {
				cursor: pointer;
				background-color: $background-grey-light;
			}
			&:focus {
				background-color: #fff;
				border: .5px solid $background-grey;
			}
	    }
	    &__filter, &__reset {
	    	width: 100%;
			border-radius: 5px;
			border: none;
			padding: 10px 15px;
			background-color: $background-grey;
			border: .5px #fff solid;
			position: relative;
			z-index: 1;
			transition: .2s;
			&:hover {
				cursor: pointer;
				background-color: darken($background-grey-light, 5%);
			}
	    	.fas {
	    		display: inline-block;	
	    	}
	    }
	    &__filter, &__search {
	    	margin-bottom: 10px;
	    }
	    &__reset {
	    	position: absolute;
	    	bottom: 10px;
	    	left: 10px;
	    	width: calc(100% - 20px);
	    }
	    &__date {
	    	width: calc(100% - 4px);
	    	background-color: #eee;
	    	border-radius: 5px;
	    	border: .5px solid #ccc;
	    	.date {
	    		&__line {
	    			padding: 5px;
	    		}
	    		&__separate {
	    			width: 100%;
	    			background-color: #ccc;
	    			height: .5px;
	    		}
	    		&__text {
	    			margin: 5px 15px;
	    		}
	    		&__date {
					margin: 5px;
					border: none;
					padding: 10px;
					border-radius: 5px;
					width: calc(100% - 30px);
					transition: .2s;
					&:hover {
						cursor: pointer;
						background-color: #f9f9f9;
					}
	    		}
	    	}
	    }
	    &__box {
	    	position: fixed;
			display: none;
			background-color: $background-grey;
			border-radius: 0px 0px 5px 5px;
			font-family: 'Arial';
			border: .5px $border-grey solid;
			border-top: none;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); 
	    	.box__text {
				margin: 5px 10px 0px;
	    	}
	    	.box__date {
				width: calc(100% - 30px);
		        margin: 5px 10px 10px;
		        border: none;
		        background-color: #fff;
		        padding: 5px;
		        border-radius: 5px;
	    	}
	    	.box__btn {
	    		width: calc(100% - 20px);
		        margin: 5px 10px 10px;
		        border: none;
		        background-color: #fff;
		        padding: 5px;
		        border-radius: 5px;
	    		&:hover {
					background-color: #fafafa;
		          	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	    		}
	    	}
	    }
	}
}