.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(20vw);
	border-right: .5px solid #ddd;
	&__content {
		margin-top: calc(5vh);
		width: 85%;
		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-content: stretch;
	    align-items: flex-start;
	}
	&__link {
		border-radius: 0px 30px 30px 0px;
		text-decoration: none;
		color: #444;
		width: calc(100%);
		font-family: 'Arial';
		font-size: 17px;
		i {
			padding: 12px 24px;
		}
	}
	.people {
		border-top: .5px solid #ddd;
		position: fixed;
		width: calc(20vw);
		left: 0;
		bottom: 0;
		overflow-y: auto;
		&__container {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: stretch;
		    align-items: stretch;
			text-decoration: none;
			color: #000;
		}
		&__pic {
			margin: 10px;
			padding: 10px;
			height: 20px; 
			width: 20px;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
		}
		&__name {
			padding: 5px;
			font-family: 'Arial';
		    display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: stretch;
		    align-items: flex-start;
			width: calc(100% - 80px);
		}
	}
}