@charset 'UTF-8';

@import '../abstracts/mixins';

* {
	margin: 0;
	padding: 0;
	outline: none;
}
.signup {
	font-family: 'Arial';
	width: 100%;
	height: calc(100vh);
	@include flex(center);
	&__logo {
		width: 140px;
		margin-top: 10px;
	}
	&__heading {
		margin: 13px;
	}
	&__container {
		@include flex(column);
		padding: 20px;
		border-radius: 10px;
		border: 1px solid #ccc;
		.input {	
			&__text {
				margin: 10px 0 ;
				display: block;
				width: calc(60vw);
				max-width: 280px;
				border: 1px solid #ccc;
				background-color: rgba(26, 115, 232,0.1);
				padding: 8px;
				font-size: 17px;
				border-radius: 4px;
				&:focus {
					border: 1px solid rgb(26, 115, 232);
				}
			}
			&__label{
				position: absolute;
				padding: 3px;
				border-radius: 3px;
				transition: 0.2s;
				color: #555;
				z-index: -1;
			}
		}
		.submit {
			width: 100%;
			@include flex(row);
			&__link {
				color: rgba(26, 115, 232,0.9);
				font-size: 13px;
				&:hover, &:focus {
					color: rgba(26, 115, 232, 1);
					text-shadow: 0 0 7px rgba(26, 115, 232,0.3);
				}
			}
			&__btn {
				transition: 0.2s;
				color: #fff;
				background-color: rgb(26, 115, 232);
				border: none;
				padding: 10px 20px;
				border-radius: 6px;
				&:hover, &:focus {
					box-shadow: 0 0 7px rgba(26, 115, 232,0.3) , 0 0 13px rgba(26, 115, 232,0.2);
					background-color: rgba(26, 115, 232,0.9);
				}
			}
		}
	}
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

